<div class="post border rounded px-3 py-1 my-3 text-dark bg-light w50 border-secondary text-left">
  <h3>Leave a comment</h3>
  <%= display_errors_for(@comment) %>
  <%= form_with model: [topic, comment] do |f|%>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :topic_id %>
    <div class='form-group'>
    <%= f.text_area :content %>
    </div>
    <%= f.submit 'Submit Comment' %>
  <% end %>
</div>
