<% if user_signed_in? %>
  <div class="roundbox">
    <h1>Welcome, <%= current_user.username %></h1>
  </div>
<% end %>
<%= form_with url:'/', method: 'get'  do |f| %>
  <%= f.select(:sort, options_for_select([['Newest', 1], ['Oldest', 2], ['Most Comments', 3], ['Least Comments', 4], ['most Votes', 5], ['Least Votes', 6]])) %>
  <%= f.submit :sort %>
<% end %>
<%= render partial: 'topics/topics_preview', locals: {topics: @topics} %>
