<div class="roundbox">
    <h1><%= @topic.title %></h1>
    <p><%= @topic.content %></p>
    <footer>
    <%= link_to @topic.group.name, group_path(@topic.group) %>
    <%= link_to @topic.user.username, user_path(@topic.user) %>
    </footer>
</div>
<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: {comment: @comment} %>
<% else %>
  <a href="/users/sign_in"><h3>Sign in to leave a comment</h3></a>
<% end %>
<% @topic.comments.each do |comment| %>
  <%= render partial: 'comments/comment', locals: {comment: comment} unless comment.content.blank? %>
<% end %>
