<div class="roundbox">
    <h3 class="float-right"><%= "Score: #{@topic.voteAmount}" %></h3>
    <h1><%= @topic.title %></h1>
    <p><%= @topic.content %></p>
    <% if @topic.votes.length > 0 %>
      <div class="float-center">
    <% end %>
      </div>
    <footer>
    <h5 class="float-left">User: <%= link_to @topic.user.username, user_path(@topic.user) %></h5>
    <h5 class="float-right">Group: <%= link_to @topic.group.name, group_path(@topic.group) %></h5>
<div class="clearfix"></div>
    </footer>
</div>
<div class="roundbox w-75 float-left">
<% if user_signed_in? %>
  <%= render_vote(@vote) %>
  <h3>Leave A comment</h3> 
  <%= render partial: 'comments/form', locals: {comment: @comment} %>
<% else %>
  <a href="/users/sign_in"><h3>Sign in to leave a comment</h3></a>
<% end %>
</div>
<div class="roundbox w-25 float-right">
    <h2>Voters</h2>
    <ul>
      <% @topic.voters.each do |user| %>
        <li><%= user.username %></li>
      <% end %>
    </ul>
</div>
<div class="clearfix"></div>
<% @topic.comments.each do |comment| %>
  <%= render partial: 'comments/comment', locals: {comment: comment} unless comment.content.blank? %>
<% end %>
